schemes/mesh.xsd

<xs:schema xmlns:xs = "http://www.w3.org/2001/XMLSchema">
    <xs:element name="CombineXMesh" type="CombineXMeshType" />

    <xs:attributeGroup name="inheritAttrs">
        <xs:attribute name="_inheritRemove" type="xs:boolean"/>
        <xs:attribute name="_noinherit" type="xs:boolean"/>
        <xs:attribute name="_template" type="xs:string"/>
    </xs:attributeGroup>

    <xs:element name="_templates">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:any namespace="##local" processContents="lax"/>
            </xs:choice>
            <xs:attribute name="Include" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="CombineXMeshType">
        <xs:annotation>
            <xs:documentation>
                <![CDATA[ 
                <p><b>Рутовый тег xml-файла меша.</b></p>
                <hr/>
                <p>Теги:
                    <ul>
                        <li><b>SocketPoints</b></li>
                        <li><b>Material*</b></li>
                        <li><b>MaterialOverrides</b></li>
                    </ul>
                </p>
                ]]>
            </xs:documentation>
        </xs:annotation>
        <xs:choice maxOccurs="unbounded">
            <xs:element name="SocketPoints" type="T_SocketPoints" minOccurs="0" maxOccurs="1"/>
            <xs:element name="MaterialOverrides" type="T_MaterialOverrides" minOccurs="0"/>
            <xs:element name="Material" type="T_Material" minOccurs="1" maxOccurs="unbounded"/>
        </xs:choice>
        <xs:attribute name="Type">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Wheel"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attributeGroup ref="inheritAttrs"/>
    </xs:complexType>
    
    <xs:complexType name="T_SocketPoints">
        <xs:annotation>
            <xs:documentation>
                <![CDATA[ 
                <p><b>Секция описания точек крепления валов.</b></p>
                <hr/>
                <p>Теги:
                    <ul>
                        <li><b>SocketPoint*</b></li>
                    </ul>
                </p>
                ]]>
            </xs:documentation>
        </xs:annotation>
        <xs:choice maxOccurs="unbounded">
            <xs:element name="SocketPoint" type="T_SocketPoint" minOccurs="1" />
        </xs:choice>
        <xs:attributeGroup ref="inheritAttrs"/>
    </xs:complexType>

    <xs:complexType name="T_SocketPoint">
        <xs:annotation>
            <xs:documentation>
                <![CDATA[ 
                <p><b>Точка крепления вала.</b></p>
                <hr/>
                <p>Атрибуты:
                    <ul>
                        <li><b>Name</b> [строка]</li>
                        <li><b>Post</b> [координаты]</li>
                    </ul>
                </p>
                ]]>
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="Name" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[ 
                    <p><b>Имя, для описания вала в классе трака</b></p>
                    ]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Pos" type="coords">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[ 
                    <p><b>Позиция.</b></p>
                    <hr/>
                    <p>Вид: (X; Y; Z).</p>
                    ]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attributeGroup ref="inheritAttrs"/>
    </xs:complexType>

    <xs:complexType name="T_Material">
        <xs:annotation>
            <xs:documentation>
                <![CDATA[ 
                <p><b>Материал.</b></p>
                <hr/>
                <p>Атрибуты:
                    <ul>
                        <li><b>Name</b> [строка]</li>
                        <li><b>AlbedoMap</b> [файл]</li>
                        <li><b>AlphaKill</b> [логическое]</li>
                        <li><b>Blending</b> ('alpha' | 'none' | 'additive')</li>
                        <li><b>NormalMap</b> [файл]</li>
                        <li><b>NormalScale</b> [число]</li>
                        <li><b>ShadingMap</b> [файл]</li>
                        <li><b>MetalnessScale</b> [число]</li>
                        <li><b>MetalnessBias</b> [число]</li>
                        <li><b>RoughnessScale</b> [число]</li>
                        <li><b>RoughnessBias</b> [число]</li>
                        <li><b>AmbientOcclusionIntensyty</b> [число]</li>
                        <li><b>ReflectivityMultiplier</b> [число]</li>
                        <li><b>EmissiveMap</b> [файл]</li>
                        <li><b>SnowUpIntensity</b> [число]</li>
                        <li><b>SnowUpNormalsSpace</b> ('world' | 'object' | 'foliage')</li>
                        <li><b>SnowUpNoiseIntensity</b> [число]</li>
                        <li><b>SnowUpNoiseScale</b> [число]</li>
                        <li><b>SnowUpAngleRange</b> [число]</li>
                        <li><b>SnowUpFlatten</b> [число]</li>
                        <li><b>SnowifyNoiseIntensity</b> [число]</li>
                        <li><b>SnowifyNoiseIntensityShift</b> [число]</li>
                        <li><b>SnowifyNoiseTilingMult</b> [число]</li>
                        <li><b>ForceSnowUnderwater</b> [логическое]</li>
                        <li><b>DOFOrder</b> {DistanceBased}</li>
                    </ul>
                </p>
                ]]>
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="Name" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[ 
                    <p><b>Имя, соответствующее имени материала в Fbx файле.</b></p>
                    ]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="AlbedoMap" type="mapFile">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[ 
                    <p><b>Карта с базовым цветом поверхности (RGB)</b></p>
                    <hr/>
                    <p>Опциональный альфа-канал может быть использован либо как маска жесткой прозрачности, либо как маска полупрозрачности.</p>
                    ]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attributeGroup ref="material_attrs"/>
        <xs:attributeGroup ref="inheritAttrs"/>
    </xs:complexType>

    <xs:attributeGroup name="material_attrs">
        <xs:attribute name="AlphaKill" type="xs:boolean">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[ 
                    <p><b>Режим жесткой прозрачности по ч/б маске из альфа-канала текстуры AlbedoMap.</b></p>
                    <hr/>
                    <p>Нужен, например, чтобы сделать защитную сетку радиатора.</p>
                    <p>Значение по умолчанию: false.</p>
                    ]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Blending">
            <xs:simpleType>
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[ 
                        <p><b>Режим смешивания материалов поверхностей при их отрисовке.</b></p>
                        <hr/>
                        <p>Значение по умолчанию: none.</p>
                        <p>Значение <i>alpha</i> включает полупрозрачность.</p>
                        <p>Значение <i>additive</i> не используется в траках.</p>
                        ]]>
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="none"/>
                    <xs:enumeration value="alpha"/>
                    <xs:enumeration value="additive"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="NormalMap" type="mapFile">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[ 
                    <p><b>Карта нормалей в тангент-спейсе (RGB)</b></p>
                    <hr/>
                    <p>Зеленый цвет соответствует низам выпуклостей.</p>
                    ]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="NormalScale" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[ 
                    <p><b>Коэффициент влияния текстуры NormalMap.</b></p>
                    <hr/>
                    <p>По умолчанию: 1.</p>
                    ]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ShadingMap" type="mapFile">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[ 
                    <p><b>Карта данных PBR-шейдинга.</b></p>
                    <hr/>
                    <p><i>R</i> - metalness: “металличность” поверхности (0 = диэлектрик, 1 = металл)</p>
                    <p><i>G</i> - roughness: неровность поверхности (0 = идеально гладкая поверхность, 1 = предельно неровная поверхность)</p>
                    <p><i>B</i> - ambient occlusion mask: маска затенения рассеянного света (0 = полностью затенено, 1 = не затенено).</p>
                    ]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="MetalnessScale" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[ 
                    <p><b>Множитель на значение metalness из текстуры ShadingMap.</b></p>
                    <hr/>
                    <p>Значение по умолчанию: 1.</p>
                    ]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="MetalnessBias" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[ 
                    <p><b>Сдвиг значения metalness из текстуры ShadingMap (metalness = metalness + MetalnessBias).</b></p>
                    <hr/>
                    <p>Значение по умолчанию: 0.</p>
                    ]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="RoughnessScale" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[ 
                    <p><b>Множитель на значение roughness из текстуры ShadingMap.</b></p>
                    <p>Значение по умолчанию: 1.</p>
                    ]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="RoughnessBias" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[ 
                    <p><b>Сдвиг значения metalness из текстуры ShadingMap (roughness = roughness + RoughnessBias).</b></p>
                    <hr/>
                    <p>Значение по умолчанию: 0.</p>
                    ]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="AmbientOcclusionIntensicy" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[ 
                    <p><b>Коэффициент влияния маски затенения рассеянного света из текстуры ShadingMap.</b></p>
                    <hr/>
                    <p>Значение по умолчанию: 1.</p>
                    ]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ReflectivityMultiplier" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[ 
                    <p><b>Множитель, усиливающий интенсивность отражений на материале.</b></p>
                    <hr/>
                    <p>Значение по умолчанию: 1.</p>
                    ]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="EmissiveMap" type="mapFile">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[ 
                    <p><b>Цвет самосвечения поверхности (RGB).</b></p>
                    <hr/>
                    <p>При отсутствии текстуры поверхность не обладает самосвечением.</p>
                    <p>Эффект самосвечения не поддержан для полупрозрачных PBR-материалов (стекла и т.д.).</p>
                    <p>Самосвечение включается с включением зажигания.</p>
                    ]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="SnowUpIntensity" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[
                    <p><b>Интенсивность снежного слоя на поверхности.</b></p>
                    <hr/>
                    <p>По умолчанию: 10.</p>
                    ]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="SnowUpNormalsSpace">
            <xs:simpleType>
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[
                        <p><b>Режим наложения снега.</b></p>
                        <hr/>
                        <p>Для двигающихся, динамических объектов следует использовать режим "object".</p>
                        <p>Значение по умолчанию: world.</p>
                        <p>Значения: [world, object, foliage].</p>
                        ]]>
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="world"/>
                    <xs:enumeration value="object"/>
                    <xs:enumeration value="foliage"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="SnowUpNoiseIntensity" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[
                    <p><b>Интенсивность паттерна шума, использующегося при проявлении снежного слоя.</b></p>
                    <hr/>
                    <p>По умолчанию: 0.</p>
                    ]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="SnowUpNoiseScale" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[
                    <p><b>Частотность паттерна шума снежного слоя.</b></p>
                    <hr/>
                    <p>По умолчанию: 0.5.</p>
                    ]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="SnowUpAngleRange" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[
                    <p><b>Предельный угол (в градусах) отклонения нормали поверхности от вектора вверх, при котором будет наложен снежный слой.</b></p>
                    <hr/>
                    <p>По умолчанию: 45.</p>
                    ]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="SnowUpFlatten" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[
                    <p><b>Коэффициент выравнивания исходной карты нормалей в той области поверхности, где был наложен снежный слой.</b></p>
                    <hr/>
                    <p>По умолчанию: 0.</p>
                    ]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="SnowifyNoiseIntensity" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[
                    <p><b>Интенсивность наложения эффекта снежной пороши на поверхность.</b></p>
                    <hr/>
                    <p>По умолчанию: 0.</p>
                    ]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="SnowifyNoiseIntensityShift" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[
                    <p><b>Коэффициент усиления влияния маски затенения рассеянного света на интенсивность снежной пороши.</b></p>
                    <hr/>
                    <p>По умолчанию: 0.</p>
                    ]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="SnowifyNoiseTilingMult" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[
                    <p><b>Множитель тайлинг эффекта снежной пороши.</b></p>
                    <hr/>
                    <p>По умолчанию: 1.</p>
                    ]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ForceSnowUnderwater" type="xs:boolean">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[
                    <p><b>Форсирование наложения снега даже после погружения поверхности под воду</b></p>
                    <hr/>
                    <p>По умолчанию, заснеженность вытирается в этих случаях.</p>
                    ]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="DOFOrder" type="xs:string" default="DistanceBased">
            <xs:annotation>
                <xs:documentation>
                    Сейчас в игре не используется.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>

    <xs:complexType name="T_MaterialOverrides">
        <xs:annotation>
            <xs:documentation>
                <![CDATA[
                <p><b>Секция кастомизации покраски.</b></p>
                <hr/>
                <p>Теги:
                    <ul>
                        <li><b>MaterialOverride</b></li>
                    </ul>
                </p>
                ]]>
            </xs:documentation>
        </xs:annotation>
        <xs:choice maxOccurs="unbounded">
            <xs:element name="MaterialOverride" type="T_MaterialOverride" minOccurs="1" />
        </xs:choice>
        <xs:attributeGroup ref="inheritAttrs"/>
    </xs:complexType>

    <xs:complexType name="T_MaterialOverride">
        <xs:annotation>
            <xs:documentation>
                <![CDATA[
                <p><b>Переопределение материала.</b></p>
                ]]>
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="Name" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[
                    <p><b>Имя кастомизации.</b></p>
                    <hr/>
                    <p>Это имя связывает данное переопределение материала с цветовыми пресетами.</p>
                    <p>Все пресеты трака, заданные тегами CustomizationPreset, у которых значение атрибута MaterialOverrideName совпадает с данным значением Name, будут задавать параметры цветовых тонов цвета для этого материала.</p>
                    ]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="TargetMaterialName" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[
                    <p><b>Имя переопределяемого материала, заданное в теге Material.</b></p>
                    ]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="TintMap" type="mapFile">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[
                    <p><b>Карта, определяющая зоны покраски.</b></p>
                    <hr/>
                    <p>Зоны задаются по каналам RGB. Таким образом можно задать до трех цветов тонировки.</p>
                    ]]>
                    
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="TintMaskScale" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[
                    <p><b>Множитель на значение Tint из текстуры TintMap.</b></p>
                    <hr/>
                    <p>Позволяет сделать более жесткую границу маски.</p>
                    <p>Если карта TintMap сделана правильно, то этот коэффициент не нужен.</p>
                    ]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="AlbedoMap" type="mapFile">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[
                    <p><b>Карта с базовым цветом поверхности.</b></p>
                    <hr/>
                    <p>Это может быть как и абсолютно новая раскраска автомобиля, так и подготовленная для изменения тона карта.</p>
                    <p>Для адекватного наложения тона, все места, на которые планируется наносить тонирование должны быть белыми. Яркость белого, в среднем: RGB 220:220:220.</p>
                    ]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attributeGroup ref="material_attrs"/>
        <xs:attributeGroup ref="inheritAttrs"/>
    </xs:complexType>

    <xs:simpleType name="coords">
        <xs:restriction base="xs:string">
            <xs:pattern value="\((-?\d+(\.\d+)?;\s?){2}-?\d+(\.\d+)?\)"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="mapFile">
        <xs:restriction base="xs:string">
            <xs:pattern value=".*__(d|d_a|n_d|sh_d|em_d)\.tga"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
